@import url("vars.css");

/* Nav Bar */
nav { 
    background-color: var(--light-nav-bar-color);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 6rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    box-shadow: 2px 0 5px rgb(0 0 0 / 10%);
}

.dark-mode nav {
    background-color: var(--dark-nav-bar-color);
    box-shadow: 2px 0 5px rgb(0 0 0 / 10%);
}

nav ul {
    list-style: none;
    margin: 1em;
    padding: 1em;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.dark-mode nav ul {
    color: var(--dark-text-color);
}

nav a {
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--light-text-color);
    transition: background-color 0.3s, transform 0.3s;
}

.dark-mode nav a {
    color: var(--dark-text-color);
}

nav li {
    /* Space Between Buttons */
    margin: 0.75em;
    padding: 0.75em;
}

nav a:hover {
    transform: scale(1.05);
}

.current-page {
    text-decoration: underline;
}

/* Toggle Switch For Dark/Light Mode (code from https://www.w3schools.com/howto/howto_css_switch.asp) */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: black;
}

input:checked + .slider::before {
    transform: translateX(20px);
}

.toggle-container {
    margin-top: auto; /* Pushes the toggle to the bottom */
    padding-bottom: 1em; /* Optional: add some padding at the bottom */
}

/* Main Page for Home and Task List */
body {
    margin: 0;
    padding: 0;
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
}

body.dark-mode  {
    background-color: var(--dark-background-color);
}   

header {
    text-align: center;
    color: var(--light-text-color);
    margin-left: 6rem;
}

.dark-mode header {
    color: var(--dark-text-color);
}

main {
    flex: 1;
    margin: 10px;
    margin-left: 6rem;
}

p {
    text-align: center;
    margin-left: 6rem;
}

/* Search Bar for Home Page and Task List */
.search-container {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.search-container button {
    margin-left: 10px;
    background-color: var(--light-button-color);
    color: var(--light-text-color);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dark-mode .search-container button {
    background-color: var(--dark-button-color);
    color: var(--dark-text-color);
}

.search-container button:hover {
    background-color: var(--light-button-color-hover);
}

.dark-mode .search-container button:hover {
    background-color: var(--dark-button-color-hover);
}

.search-container input[type="text"] {
    padding: 5px 10px;
    border: 1px solid var(--light-border-color);
    border-radius: 5px;
    background: white;
    margin-left: 1em;
}

.dark-mode .search-container input[type="text"] {
    border: 1px solid var(--dark-border-color);
}

.search-container input[type="text"]:focus {
    outline: none;
    border-color: var(--accent-color);
}

/* Edits for smaller screens (mobile) */
@media (width <= 500px) {
    nav {
        width: 4rem;
    }

    header {
        margin-left: 4rem;
    }

    main {
        margin-left: 4rem;
    }

    .search-container {
        justify-content: center;
    }

    .search-container input[type="text"] {
        margin-left: 0.1em;
    }

    .toggle-container {
        margin-top: 1em;
        margin-bottom: 1em;
    }

}
