@import url("vars.css");

body {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
}

main #head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em 2em 0em;
}

main #head #new-but {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

main #head #new-but button {
    width: 5em;
    /*border: 2px solid var(--l-text);*/
    border: none;
    border-radius: 50%; 
    margin: 1em;
    padding: 1em;
    background-color: var(--l-but);
}

main #head #new-but button:hover {
    background-color: var(--l-but-hov);
    cursor: pointer;
}

main #head form input {
    border-radius: 1.5em;
    border: 2px solid var(--l-text); 
    padding: 0.5em 1em 0.5em;
    width: 15em;
}

main #notes-folders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em 4em;
}

.note {
    width: 20em;
    height: 12em;
    border-radius: 1.5em;
    border: 2px solid var(--l-text);
}

.folder {
    width: 20em;
    height: 12em;
    background-color: var(--default);
    border-radius: 1.5em;
    border: 2px solid var(--l-text);
    text-align: center;
}

/* ------------------- */

/* HOME PAGE */
.top-right-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right-buttons button {
    width: 50px; /* Set a fixed width */
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%; /* Fully circular */
    cursor: pointer;
    margin-left: 10px;
}

.top-right-buttons button:hover {
    background-color: #0056b3;
}

/* NEW NOTE MODAL */
/* Hide the display of notes from the home page */
.hide-notes {
    display: none;
}
/* Blur nav bar when opening the new note modal */
.blur {
    opacity: 0.3;
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.note-modal {
    background-color: white;
    padding: 2rem;
    border-radius: 1.4rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3); /*if we want a shadow*/
    width: 90%;
    height: 80%;
    max-width: 65%;
    overflow-y: auto;
    position: relative;
}
/* Close button on top right for better usability(?) */
.close-modal {
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}
.modal-title {
    text-align: center;
    margin-bottom: 1rem;
}
/* Add bottom margins to input blocks: note title and note body */
.modal-input {
    margin-bottom: 1rem;
}

/* Adjust dropdown selection of select folder to look like the input blocks */
.modal-input select {
    color: #707070;
}
/* Adjust input blocks */
.modal-input input, 
.modal-input select {
    width: 100%;
    padding: 0.6rem; 
    border: 0.07rem solid #ccc; 
    border-radius: 0.25rem; 
    box-sizing: border-box;
}
/* Make textarea overflow-y auto to scroll when there is more than one line */
.modal-input textarea {
    height: calc(100vh / 2);  /* Adjust height based on viewport height (vh), 2.5 is just the scale */
    width: 100%;
    padding: 0.6rem;   
    border: 0.07rem solid #ccc; 
    border-radius: 0.25rem; 
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
    max-height: calc(100vh - 20rem);
}

/* Adding Container so that the input button can be inside the textarea */
.textarea-container {
    position: relative; /* Using relative so that the element can be move around inside */
}
/* Input buttons model inside the textarea */
/* The position of the input model */
.modal-buttons {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}
/* The input button model itself */
.input-button {
    background-color: #ffffff;
    color: #707070;
    padding: 0.6rem; 
    border: 0.07rem solid #ccc;
    border-radius: 50rem;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}

/* EDIT MODAL */
/*Hover over the note title to notify that it is clickable to edit */
.edit-modal-title {
    text-align: center;
    margin-bottom: 1rem;

}
/* Adjust the body of edit note modal */
#edit-note-body {
    height: calc(100vh / 2);  /* Adjust height based on viewport height (vh), 2.5 is just the scale */
    width: 100%;
    padding: 0.6rem; 
    border: 0.07rem solid #ccc; 
    border-radius: 0.25rem; 
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
    max-height: calc(100vh - 10px);
    margin-bottom: 10px;
}
/* Both create button from new note modal and save button from edit modal */
.create-button, 
.save-button {
    background-color: #ffffff;
    color: #707070;
    padding: 0.6rem; 
    border: 0.07rem solid #ccc;
    border-radius: 0.25rem; 
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
/* All buttons hover functions */
.create-button:hover, 
.save-button:hover, 
.back-button:hover,
.input-button:hover,
.exist-input-button:hover {
    background-color: #dbdbdb;
}

.back-button {
    background-color: #ffffff;
    color: #707070;
    padding: 0.6rem; 
    border: 0.07rem solid #ccc;
    border-radius: 0.25rem; 
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

/* Input buttons model at top-right of the exist note */
/* The position of the exist note input model */
.exist-modal-buttons {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
}
/* The exist note input button model itself */
.exist-input-button {
    background-color: #ffffff;
    color: #707070;
    padding: 0.6rem; 
    border: 0.07rem solid #ccc;
    border-radius: 50rem; 
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}