@import url("vars.css");

main {
    display: flex;
    flex-wrap: wrap;
}

.notes-container {
    display: flex;
    flex-direction: column;
}

.note,
.folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16em;
    margin-left: 3em;
}

.note-content {
    width: 16em;
    height: 9em;
    background-color: var(--accent-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    position: relative;
}

.delete {
    top: 0.2rem;
    right: 0.2rem;
    font-size: 0.75rem;
    font-weight: bold;
    display: none;
}

.note-content:hover .delete {
    display: block;
}

.note-content p {
    display: none;
}

/** Change the colors of each entry to its respective label */
#code-snippets{
    background-color: var(--code-snippets-color);
}

#stand-up{
    background-color: var(--stand-up-label-color);
}

#bug-reports{
    background-color: var(--bug-reports-label-color);
}

#learning-notes{
    background-color: var(--learning-notes-label-color);
}

#newsletter{
    background-color: var(--newsletter-label-color);
}

#performance{
    background-color: var(--performance-label-color);
}

#feature-ideas{
    background-color: var(--feature-ideas-label-color);
}

.note-title {
    color: var(--light-text-color);
}

.dark-mode .note-title {
    color: var(--dark-text-color);
}

.folder-title {
    color: var(--light-text-color);
}

.dark-mode .folder-title {
    color: var(--dark-text-color);
}

/* HOME PAGE */
.top-right-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Default Icon for New Note Button Light Mode */
.top-right-buttons button {
    padding: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 20px;
}

.top-right-buttons #new-note-button {
    background-image: url('../assets/icons/newnote-light.png');
}

.top-right-buttons #new-folder-button {
    background-image: url('../assets/icons/newfolder-light.png');
}

.top-right-buttons #new-note-button:hover {
    background-image: url('../assets/icons/newnote-hover-light.png');
    transform: scale(1.05);
}

.top-right-buttons #new-folder-button:hover {
    background-image: url('../assets/icons/newfolder-hover-light.png');
    transform: scale(1.05);
}

.dark-mode .top-right-buttons #new-note-button {
    background-image: url('../assets/icons/newnote-dark.png');
}

.dark-mode .top-right-buttons #new-folder-button {
    background-image: url('../assets/icons/newfolder-dark.png');
}

.dark-mode .top-right-buttons #new-note-button:hover {
    background-image: url('../assets/icons/newnote-hover-dark.png');
    transform: scale(1.05);
}

.dark-mode .top-right-buttons #new-folder-button:hover {
    background-image: url('../assets/icons/newfolder-hover-dark.png');
    transform: scale(1.05);
}

#folder-back-button {
    padding: 10px 20px;
    background-color: var(--light-button-color);
    color: var(--light-text-color);
    border: none;
    border-radius: 300%;
    cursor: pointer;
    margin-left: 10px;
}

.dark-mode #folder-back-button {
    background-color: var(--dark-button-color);
    color: var(--dark-text-color);
}

#folder-back-button:hover {
    background-color: var(--light-button-color-hover);
}

.dark-mode #folder-back-button:hover {
    background-color: var(--dark-button-color-hover);
}

/* NEW NOTE MODAL */
.hide-notes {
    display: none;
}
 
.note-modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#00000080; 
    backdrop-filter: blur(1px);
    z-index: -1; 
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.note-modal {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
    padding: 2rem;
    padding-bottom: 0.1rem;
    border-radius: 1.4rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
    width: 90%;
    height: 80%;
    max-width: 65%;
    overflow-y: auto;
    position: relative;
}

.dark-mode .note-modal {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

.folder-modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#00000080; 
    backdrop-filter: blur(1px);
    z-index: -1; 
}

.folder-modal {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
    padding: 2rem;
    padding-bottom: 0.1rem;
    border-radius: 1.4rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
    width: 40%;
    height: 20%;
    max-width: 65%;
    overflow-y: auto;
    position: relative;
}

.dark-mode .folder-modal {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

.close-modal {
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-title {
    text-align: center;
    margin-bottom: 1rem;
}

.modal-input {
    margin-bottom: 0.5rem;
}

.modal-input input[type="text"]:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-input input, 
.modal-input select {
    width: 100%;
    padding: 5px 10px; 
    border: 1px solid var(--light-border-color); 
    border-radius: 5px; 
    box-sizing: border-box;

    option[value="code-snippets"]{
        color: var(--code-snippets-color);
    }

    option[value="stand-up"]{
        color: var(--stand-up-label-color);
    }

    option[value="bug-reports"]{
        color: var(--bug-reports-label-color);
    }

    option[value="learning-notes"]{
        color: var(--learning-notes-label-color);
    }

    option[value="newsletter"]{
        color: var(--newsletter-label-color);
    }

    option[value="performance"]{
        color: var(--performance-label-color);
    }

    option[value="feature-ideas"]{
        color: var(--feature-ideas-label-color);
    }
}

.dark-mode .modal-input select {
    color: var(--dark-button-color-hover);
}

.dark-mode .modal-input input,
.dark-mode .modal-input select {
    border: 1px solid var(--dark-border-color);
}

.modal-input select:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-input textarea {
    height: calc(100vh / 2);  
    width: 100%;
    padding: 5px 10px;   
    border: 1px solid var(--light-border-color); 
    border-radius: 5px; 
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
    max-height: calc(100vh - 20rem);
}

.dark-mode .modal-input textarea {
    border: 1px solid var(--dark-border-color);
}

.modal-input textarea:focus {
    outline: none;
    border-color: var(--accent-color);
}

.textarea-container {
    position: relative;
}

/* EDIT MODAL */
.edit-modal-title h2 {
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: white;
    color: var(--light-text-color);
    border: 1px solid var(--light-border-color);
    border-radius: 5px;
}

.dark-mode .edit-modal-title h2 {
    border: var(--dark-border-color);
}

.edit-note-body {
    height: calc(100vh / 2);  
    width: 100%;
    padding: 0.6rem; 
    border: 1px solid  var(--light-border-color); 
    border-radius: 0.25rem; 
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
    max-height: calc(100vh - 10px);
    margin-bottom: 10px;
}

.dark-mode .edit-note-body {
    border: 1px solid var(--dark-border-color);
}

.create-button, 
.save-button {
    background-color: var(--light-button-color);
    color: var(--light-text-color);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 1em;
}

.dark-mode .create-button,
.dark-mode .save-button {
    background-color: var(--dark-button-color);
    color: var(--dark-text-color);
}

.back-button {
    background-color: var(--light-button-color);
    color: var(--light-text-color);
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 1em;
}

.dark-mode .back-button {
    background-color: var(--dark-button-color);
    color: var(--dark-text-color);
}

.create-button:hover, 
.save-button:hover, 
.back-button:hover,
.input-button:hover,
.exist-input-button:hover {
    background-color: var(--light-button-color-hover);
}

.dark-mode .create-button:hover, 
.dark-mode .save-button:hover, 
.dark-mode .back-button:hover,
.dark-mode .input-button:hover,
.dark-mode .exist-input-button:hover {
    background-color: var(--dark-button-color-hover);
}

@media (width <= 500px) {
    /* Add note and add folder button under header */ 
    header {
        position: relative;
        height: 11em;
    }

    .top-right-buttons {
        display: flex;
        margin-left: 20%;
        margin-right: 25%;
        padding-top: 6em;
    }
    
    /* Change size of note display */
    .note-content {
        width: 16em;
        height: 9em;
        background-color: var(--accent-color);
        border-radius: 5px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
        margin-bottom: 10px;
    }

    .note-modal {
        padding-bottom: 4rem;
    }
}

/* SimpleMDE toolbar */
.editor-toolbar .fa {
    color: var(--light-text-color) !important;
}

.dark-mode .editor-toolbar .fa {
    color: var(--dark-text-color) !important;
}

.editor-toolbar .fa:hover {
    cursor: pointer;
    background-color: var(--dark-button-color-hover) !important;
    color: var(--dark-text-color) !important;
}

.editor-toolbar .fa:hover .dark-mode {
    background-color: var(--light-button-color-hover) !important;
    color: var(--light-text-color) !important;
}
  

