@import url("vars.css");

/* Main Page for Home and Task List */
body {
    margin: 0;
    padding: 0;
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
}

.dark-mode body {
    background-color: var(--dark-background-color);
}   

header {
    text-align: center;
    color: var(--light-text-color);
    margin-left: 6rem;
}

.dark-mode header {
    color: var(--dark-text-color);
}

main {
    flex: 1;
    margin: 10px;
    margin-left: 6rem;
}

p {
    text-align: center;
    margin-left: 6rem;
}

/* Search Bar for Home Page and Task List */
.search-container {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.search-container button {
    margin-left: 10px;
    background-color: var(--light-button-color);
    color: var(--light-text-color);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dark-mode .search-container button {
    background-color: var(--dark-button-color);
    color: var(--dark-text-color);
}

.search-container button:hover {
    background-color: var(--light-button-color-hover);
}

.dark-mode .search-container button:hover {
    background-color: var(--dark-button-color-hover);
}

.search-container input[type="text"] {
    padding: 5px 10px;
    border: 1px solid var(--light-border-color);
    border-radius: 5px;
    background: white;
    margin-left: 3em;
}

.dark-mode .search-container input[type="text"] {
    border: 1px solid var(--dark-border-color);
}

.search-container input[type="text"]:focus {
    outline: none;
    border-color: var(--accent-color);
}