@import url("vars.css");

/* Edit Task Input Form */
input[type="text"],
input[type="date"],
select {
   padding: 5px 10px;
   border-radius: 5px;
   background: white;
   border: 1px solid var(--light-border-color);
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
   outline: none;
   border-color: var(--accent-color);
}

/* Styling for button */
.save-btn {
   padding: 5px 10px;
   cursor: pointer;
   background-color: var(--light-button-color);
   color: var(--light-text-color);
   border: none;
   border-radius: 5px;
   transition: background-color 0.3s;
   margin-left: auto;
}

.save-btn:hover {
   background-color: var(--light-button-color-hover);
}

/* Task List */
.confetti{
   position: absolute;
   display: block;
   width: 3px;
   height: 8px;
   background: red;
   opacity: 0
}

@keyframes bang {
   from{
       transform: translate3d(0,0,0);
       opacity: 1;
   }
}

.task-container {
   margin-top: 1em;
}

.task-item {
   margin-left: 3em;
   margin-right: 3em;
   margin-bottom: 1em;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   border-radius: 5px;
   padding: 10px;
   background-color: white;
   transition: background-color 0.3s;
   border: 1px solid var(--light-border-color);
}

.dark-mode .task-item {
   border: 1px solid var(--dark-border-color);
}

.task-item input[type="checkbox"] {
   margin-right: 10px;
   cursor: pointer;
   padding: 5px, 10px;
   border: 1px solid var(--light-border-color);
   background: white;
}

.task-item input[type="checkbox"]:focus {
   outline: none;
   border-color: var(--accent-color);
}

.task-item:hover, 
.task-item:has(input[type="checkbox"]:focus) {
   border: 2px solid var(--light-border-color-hover);
}

.dark-mode .task-item:hover {
   border: 2px solid var(--dark-border-color-hover);
}

.task-item label {
   flex-grow: 1;
}

.task-item .task-main {
   display: flex;
   align-items: center;
}

.modal-label-input label {
   color: var(--light-text-color);
}

.dark-mode .modal-label-input label {
   color: var(--dark-text-color);
}


.task-item .task-main label {
   flex-grow: 1;
   font-size: 18px;
   word-wrap: break-word;
   color: var(--light-text-color);
}

.dark-mode .task-item .task-main label {
   color: var(--dark-text-color);
}

.task-item .task-desc {
   display: flex;
   align-items: center;
   color: #666;
   margin-top: 5px;
   font-size: 15px;
   flex-grow: 1;
   word-wrap: break-word;
   margin-left: 27px;
}

.task-item .task-desc, 
.task-item .task-label {
   margin-left: 27px;
}

.task-item .task-footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 7px;
}

.task-item .task-date {
   border-radius: 5px;
   font-size: 12px;
   padding: 2px 5px;
   display: inline-block;
   border: 1px solid var(--light-border-color);
}

.dark-mode .task-item .task-date {
   border: 1px solid var(--dark-border-color);
}

.task-item .task-label {
   border: none;
   border-radius: 5px;
   font-size: 12px;
   padding: 2px 5px;
   margin-right: 5px;
}

.task-item .no-date {
   border: none;
}

.task-item .date-label {
   display: flex;
   align-items: center;
}

.task-item .edit-btn, 
.task-item .delete-btn{
   background: none;
   border: none;
   cursor: pointer;
   padding: 0;
   margin-left: 5px;
   justify-content: flex-end;
}

.task-buttons button:hover {
   cursor: pointer;
}

/* Editing a task */
.task-item.editing-task {
   display: flex;
   row-gap: 10px;
}

.task-item.editing-task .task-main{
   display: flex;
   justify-content: space-between;
}

.task-item.editing-task .task-main input[type="text"]{
   width: 85%;
}

.task-item.editing-task .task-footer {
   display: flex;
   justify-content: space-between;
   margin-top: 0;
}

.task-item.editing-task .task-footer .date-label {
   display: flex; 
   gap: 20px;
}

.task-item.editing-task .task-main button {
   padding: 5px 10px;
   cursor: pointer;
   border: none;
   border-radius: 5px;
   background-color: var(--light-button-color);
   color: var(--light-text-color);
}

.task-item.editing-task .task-main button:hover {
   background-color: var(--light-button-color-hover);
}

/* Edits for smaller screens (mobile) */
@media (width <= 700px) { 
   #task-form {
      margin-left: 1em;
   }

   .task-item.editing-task .task-footer .date-label {
      flex-direction: column;
      gap: 10px 20px;
   }

   .search-container {
      margin-left: 10px;
  }
}

/* Add a Task Form */
#task-form {
   display: flex;
   justify-content: center;
   font-size: 14px;
}

#task-form button {
   margin-left: 10px;
   background-color: var(--light-button-color);
   color: var(--light-text-color);
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.dark-mode #task-form button {
   background-color: var(--dark-button-color);
   color: var(--dark-text-color);
}


#task-form button:hover {
   background-color: var(--light-button-color-hover);
   cursor: pointer;
}

.dark-mode #task-form button:hover {
   background-color: var(--dark-button-color-hover);
}

#task-form input[type="text"] {
   padding: 5px 10px;
   border-radius: 5px;
   background: white;
   border: 1px solid var(--light-border-color);
}

#task-form input[type="text"]:focus {
   outline: none;
   border-color: var(--accent-color);
}

.dark-mode #task-form input[type="text"] {
   border: 1px solid var(--dark-border-color);
}  

/* Modal Form */
#modal {
   width: 80vw;
   height: 60vh;
   max-width: 400px;
   max-height: 600px;
   background-color: var(--light-background-color);
   border-radius: 10px;
   align-items: center;
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   overflow: auto;
   z-index: 20;
}

.dark-mode #modal {
   background-color: var(--dark-background-color);
}

@media (width <= 700px) {
   #modal {
       width: 90vw;
       height: 90vh;
   }
}

#modal-form {
   display: flex;
   flex-direction: column;
   row-gap: 1em;
   padding: 10px;
   font-size: 16px;
   margin: 5%;
}

#modal-form textarea {
   width: 93%;
   padding: 5px 10px;
   border: 1px solid var(--light-border-color);
   border-radius: 5px;
   resize: vertical;
   font-size: 12px;
}

.dark-mode #modal-form textarea {
   border: 1px solid var(--dark-border-color);
}

#modal-form input[type="date"] {
   padding: 5px 10px;
   border-radius: 5px;
   background: white;
   border: 1px solid var(--light-border-color);
}

.dark-mode #modal-form input[type="date"] {
   border: 1px solid var(--dark-border-color);
}

#modal-form textarea:focus, 
#modal-form input[type="date"]:focus, 
#task-label:focus, 
#modal-form input[type="color"]:focus {
   outline: none;
   border-color: var(--accent-color);
}

.modal-open::before {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #00000080;
   backdrop-filter: blur(1px);
   z-index: 10;
}

.modal-content {
   display: flex;
   flex-direction: column;
   pointer-events: auto;
   margin: 0% 0% 5%;
}

.modal-title {
   color: var(--light-text-color);
   text-align: center;
   align-items: center;
   padding: 10px 10px 0;
}

.dark-mode .modal-title {
   color: var(--dark-text-color);
}

.close-modal {
   position: absolute;
   font-weight: bold;
   top: 0;
   right: 4%;
   font-size: 1.75rem;
   cursor: pointer;
   color: var(--light-text-color);
}

.dark-mode .close-modal {
   color: var(--dark-text-color);
}

.sub-button {
   padding: 5px 10px;
   cursor: pointer;
   background-color: var(--light-button-color);
   color: var(--light-text-color);
   border: none;
   border-radius: 5px;
   transition: background-color 0.3s;
}

.dark-mode .sub-button {
   background-color: var(--dark-button-color);
   color: var(--dark-text-color);
}

.sub-button:hover {
   background-color: var(--light-button-color-hover);
}

.dark-mode .sub-button:hover {
   background-color: var(--dark-button-color-hover);
}
