/* Main Page */
/* Color Palette */
:root {
    --default: #90E0EF;
    --l-text: #24292f;
    --l-back: #f6f8fa;
    --l-but: #d0d7de;
    --l-but-hov: #afb8c1;
}

body {
    /* font-family: "Cormorant Garamond", serif; */
    margin: 0;
    padding: 0;
    background-color: var(--l-back);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    /* font-family: "Platypi", serif; */
    text-align: center;
    color: var(--l-text);
}
.search-container {
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.search-container button {
    margin-left: 10px;
    background-color: var(--pale-dogwood);
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.search-container button:hover {
    background-color: var(--timberwolf);
    cursor: pointer;
}
.search-container input[type=“text”] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    margin-left: 3em;
}
.search-container input[type=“text”]:focus {
    outline: none;
    border-color: var(--pale-dogwood);
}
main {
    flex: 1;
    margin: 10px;
}
footer {
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    color: black;
}